*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

section{
    position: relative;
    display: flex;
    min-height: 100vh;
    background: #250825; 
    justify-content: center;   
    align-items: center;
}

.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 10%;
}
@media only screen and (min-device-width: 300px) and (max-device-width: 524px) {
    .blob {
        position: absolute;
        width: 300px;
        height: 500px;
        margin-top: -150px;
    }
  }

.blob:nth-child(2) {
    filter: blur(50px);
}